/*
FONTS
Titles: Baloo Tamma 2
Subtitles/Large Text: DM Serif Text
Basic Text: Times New Roman
*/

@import url("https://fonts.googleapis.com/css?family=Baloo+Tamma+2|DM+Serif+Text&display=swap");
@import url('https://fonts.googleapis.com/css?family=Courgette&display=swap');

* {
  z-index: 0;
}

html {
  font-family: "Times New Roman", Times, serif;
  background-color: #cccccc;
  overflow-x: hidden;
}

h1 {
  font-family: "Courgette", cursive;
}

h2 {
  font-family: "Baloo Tamma 2", cursive;
}

h3, h4, h5, h6 {
  font-family: "DM Serif Text", cursive;
}

footer {
  text-align: center;
  margin-bottom: 10px;
  margin-top: 1.5vw;
  bottom: 10px;
  left: auto;
  right: auto;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  height: 3vw;
  background-color: #cccccc;
  z-index: 1;
}

footer > p {
  margin-top: auto;
  margin-bottom: auto;
  text-align: center;
}

header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  border-bottom: black solid 1px;
}

header > nav > ul > a > li {
  text-decoration: none !important;
  color: white;
  border: black 1px solid;
  padding-top: 10px;
  padding-right: 5px;
  padding-left: 5px;
  padding-bottom: 5px;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  background-color: #6e0000;
  box-shadow: #320000 5px 0px;
  transition: linear 0.5s;
}

header > nav > ul > a:hover > li {
  text-decoration: none !important;
  cursor: pointer;
  border: black 1px solid;
  box-shadow: #6e0000 10px 0px;
  background-color: #a30000;
}

.nav-current > li {
    text-decoration: none !important;
    cursor: default;
    border: black 1px solid;
    box-shadow: #6e0000 2px 0px;
    background-color: #a30000;
  }

header > nav > ul > a:link > li {
  text-decoration: none !important;
}
header > nav > ul > a:active > li {
  text-decoration: none !important;
}
header > nav > ul > a:visited > li {
  text-decoration: none !important;
}

header > nav > ul > a {
  text-decoration: none;
}

header > nav {
  width: 60%;
  margin-bottom: 0px;
  margin-top: auto;
  display: flex;
}

header > nav > ul {
  margin-bottom: 0px;
}

header > a {
  width: 40%;
  min-height: 125px;
  margin-bottom: 0px;
}

header > nav > ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-content: flex-end;
  width: 100%;
}

#ajessen-logo {
  width: 100%;
  height: auto;
  padding-top: 5%;
  padding-left: 2.5%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  margin-top: auto;
}

#ajessen-logo > img {
  width: 90%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
  margin-top: auto;
}

#github-footer-icon {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 10px;
}

#home {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  height: auto;
  width: 100%;
}

#home > main {
  width: 60%;
}

#home > main > h1 {
  margin-left: 30%;
  margin-top: 6vw;
  font-size: 3vw;
  color: #5e5e5e;
  letter-spacing: 1vw;
  margin-bottom: 2vw;
  text-shadow: 7px 5px silver;
}

#home > main > h2 {
  margin-left: 35%;
  margin-top: auto;
  color: #5e5e5e;
  margin-bottom: 0px;
  font-size: 2vw;
  text-shadow: 7px 5px silver;
}

#home > main > ul {
  margin-left: 40%;
  margin-right: auto;
  margin-top: 3vw;
}

#home > main > ul > li {
  font-size: 1.5vw;
  margin-bottom: 1vw;
  color: #5e5e5e;
  text-shadow: 5px 3px silver;
  
}

#homepage_featured_project {
  width: 40%;
  max-height: 675px;
}

#main_holder {
  height: auto;
  display: block;
}

#homepage_featured_project > h3 {
  font-size: 2vw;
  margin-bottom: 25px;
  margin-top: 50px;
  text-align: center;
}

#homepage_featured_project > img {
  max-height: 20vw;
  max-width: 20vw;
  width: auto;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#homepage_featured_project > p {
  font-size: 1vw;
  margin-right: 25px;
  text-align: justify;
  text-indent: 2vw;
  line-height: 1.75vw;
}

#home-contact {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 100%;
  margin-top: 2.5vw;
  font-size: 2vw;
}

#home-contact > a {
  text-decoration: underline;
  color: #5e5e5e;
}

#home-contact > a:hover, a:visited, a:active {
  text-decoration: underline;
  color: #5e5e5e;
}

#services > {
  display: block;
}

#services > h1 {
  font-size: 3vw;
  margin-left: 15%;
}

#services > #services_ul {
  margin-left: 20%;
  margin-right: 10%;
  margin-top: -1vw;
  font-size: 1.5vw;
}

#services > #services_ul > li {
  margin-top: 2vw;
  font-size: 1.5vw;
}

#services > #services_ul > li > ul > li {
  margin-top: .25vw;
  font-size: 1vw;
}

#services > h3 {
  margin-top: -3.5vw;
  margin-bottom: 3vw;
  margin-left: auto;
  margin-right: 25%;
  text-align: right;
  font-size: 2vw;
  display: block;
}

#services > h3 > a:active {
  color: #551A8B
}