/*
FONTS
Titles: Baloo Tamma 2
Subtitles/Large Text: DM Serif Text
Basic Text: Times New Roman
*/

@import url('https://fonts.googleapis.com/css?family=Baloo+Tamma+2|DM+Serif+Text&display=swap');

html {
    font-family: 'Times New Roman', Times, serif;
}

h1 {
    font-family: 'Baloo Tamma 2', cursive;
}

h2 {
    font-family: 'DM Serif Text', cursive;
}

footer {
    text-align: center;
    margin-bottom: 10px;
    margin-top: auto;
    bottom: 10px;
    left: auto;
    right: auto;
    margin-left: auto;
    margin-right: auto;
}

header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    border-bottom: black solid 1px;
}

header > Link {
    width: 30%;
    margin-bottom: 0px;
}

#logo {
    width: 30%;
    height: auto;
    padding-top: 5%;
    padding-left: 2.5%;
    padding-bottom: 1%;
    margin-bottom: 0px;
}

#logo > img {
    width: 100%;
    height: auto;
}